JWT_SECRET="" # jwt secret
SESSION_SECRET=""   # session secret
DB_URL="" # postgres://user:password@host:port/database
GOOSE_DBSTRING="" # postgres://user:password@host:port/database
GOOSE_DRIVER=""  # postgres
GOOSE_MIGRATION_DIR="" # ./sql/migrations
GOOGLE_SECRET="" #get them from https://console.developers.google.com
GOOGLE_KEY="" # get them from https://console.developers.google.com
GOOGLE_CALLBACK="" # http://localhost:3000/api/v1/auth/google/callback
APP_URL="" # http://localhost:3000
ALLOWED_ORIGIN="" #http://localhost:5173
APP_DASHBOARD=""  #http://localhost:5173/dashboard in dev;